/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Apr 2021, 17:28:34
    Author     : gabed
*/

/* Style the tab */
body{
    margin: 0px;
    font-family: sans-serif;
}
.tab {
    float: left;
    background-color: #4bc970;
    width: 10%;
    height: 100vh;
}
* {box-sizing: border-box}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
.logo_icon{
    width: 90%;
    padding: 10%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #5df58b;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #399655;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 90%;
    height: 100vh;
    padding-left: 50px;
    overflow-y: scroll;
    padding: 40px;

}
form > a{
    display: block;
    background-color: inherit;
    color: black;
    margin-top: 60px;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

.tabcontent > form {
    max-width: 600px;
    min-width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

input[type="submit"] {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {

    form {
        max-width: 480px;
    }

}

#logo_icon{
    width: 200px;
    padding: 0px 20px;
    position: fixed;
}

.fullwch table {
    width: 100%;
}

.fullwch tr {
    display: inline;
}

.fullwch td {
    display: inline-block;
    width:24%;
}

.center_sub
{
    text-align: center;
    margin-top: -20px;
}

.profilejob{
    width: 100%;
    background:black;
    min-height: 100px;
    margin: 20px;
}

.profilejob{
    background: white;
                 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.profilejob > .col1{
    width: 65%;
    padding: 10px;
    
}
.profilejob > .col2{
    width: 33%;
    padding: 10px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
    
}
#jobs > form{
    max-width: 80%;
}
.col2 > a{
    color: #4bc970
}
.tab > p{
    color: white;
    padding: 0px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}